.form-range.form-control {
    border: none;
}

.form-range.form-control:hover,
.progress:hover,
.form-check:hover,
#endBehaviour:hover {
    box-shadow: 0px 0px 0px 1px #eee;
}

select {
    background: #282d32 !important;
    color: #fff !important;
}

.form-control,
.form-range,
.progress {
    margin-top: 10px;
}